@keyframes CircleZoom{
  0%{
    height: 100px;
    width: 100px;
    opacity: 1;
    visibility: 1;
  }
  75%{
    opacity: 1;
    visibility: 1;
  }
  100%{
    transform: scale(100);
    opacity: 0;
    visibilty: 0;
  }
}

@keyframes AbsoluteHide{
  75%{
    opacity: 1;
    visibility: 1;
  }
  100%{
    opacity: 0;
    visibility: 0;
  }
}

#svg-wrapper{
  --animate-time: 2s;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: -3;
  background-color: var(--almost-black);

  animation: AbsoluteHide 2.5s linear;
  /* animation-delay: calc(var(--animate-time) * 0.75); */
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#svg-wrapper::before{
  content: "Front-End Developer";
  font-family: Satoshi-Bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: -3;
}

#svg-wrapper::after{
  content:"";
  border-radius: 50%;
  background-color: #e3d4b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;

  /* animation: CircleZoom 3.5s cubic-bezier(.57,.5,.43,1.08); */
  animation: CircleZoom 3.5s linear;
  animation-delay: calc(var(--animate-time) * 0.75);
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}





