body > section{
  width: 100vw;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  color: var(--dark);
  padding: 2em;
}

.about-me li{
  list-style-image: url('./../../svg/bullet-point.svg');
}

.about-me li::marker{
  font-size: 1.5em;
}

.about-me .wrapper, 
.projects .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section h1{
  font-size: var(--fs-xl);
  font-family: Satoshi-Bold;
  color: var(--dark);
  text-decoration: underline double var(--highlighting);
  text-underline-offset: 5px;
  align-self: flex-start;
}

.favs{
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
  text-decoration: underline var(--whiteish);
  text-underline-offset: 5px;
}

.scrollspy{
  opacity: 0;
  transform: translateX(-5%);
  transition: all 1s;
}

.scrollspy.is-visible{
  opacity: 1;
  transform: translateX(0);
}

.get-in-touch a{
  color: var(--dark);
}

.get-in-touch .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.get-in-touch h1{
  align-self: center;
}

.get-in-touch .contact{
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em 0 0.5em 0;
}


.project-links, 
.title{
  display: flex;
  gap: 0.5em;
}

.projects li{
  list-style-image: url('./../../svg/bullet-point.svg');
}

.projects li::marker{
  line-height: 1.5em;
}

.projects ul{
  display: flex;
  flex-direction: column;
  gap: 0.5em
}

.title{
  font-family: Satoshi-Bold;
}

.projects h1{
  padding-bottom: 0.5em;
}

.project-tags .note{
  font-family: Satoshi-LightItalic;
  opacity: 0;
  visibility: 0;
  transition: all 0.2s ease-out;
}

.project-tags:hover > .note{
  opacity: 1;
  visibility: 1;
}






