@keyframes text-fade-in{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes text-fade-out{
  0% { opacity: 1; }
  100% { 
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes border-rotate-top{
  100% { 
    transform: rotate(var(--symbol-rotate));
    top: 0;
    left: 0;
  } 
}

@keyframes border-rotate-bottom{
  100% { 
    transform: rotate(var(--symbol-rotate));
    margin-left: var(--symbol-translate-negative); 
    top: 100%;
    left: 100%;
  } 
} 

h1, nav{
  animation: 1s ease-out 0.5s text-fade-in;
  animation-fill-mode: both;
}

#symbol * { display: inline-block; }
#colon{
  animation: 1s ease-out 0.5s text-fade-out;
  animation-fill-mode: both;
}

#symbol [position="left"]{
  animation: 1s ease-out 0.5s border-rotate-top;
  animation-fill-mode: both;
}

#symbol [position="right"]{
  animation: 1s ease-out 0.5s border-rotate-bottom;
  animation-fill-mode: both;
} 