@keyframes text-fade-in{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes text-fade-out{
  0% { opacity: 1; }
  100% { 
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes border-rotate-top{
  100% { 
    top: 0;
    left: 0;
    height: 50vw;
    transform: rotate(var(--symbol-rotate)) 
               translate(var(--border-length-negative), var(--border-length-negative));
  } 
}

@keyframes border-rotate-bottom{
  100% { 
    top: 100%;
    left: 100%;
    height: 50vw;
    transform: rotate(var(--symbol-rotate)) 
               translateY(var(--border-length));
    margin-top: var(--border-length-negative);
    margin-left: var(--symbol-translate-negative); 
  } 
} 

h1, nav{
  animation: var(--onload-animation) text-fade-in;
  animation-fill-mode: both;
}

#symbol * { display: inline-block; }
#colon{
  animation: var(--onload-animation) text-fade-out;
  animation-fill-mode: both;
}

#symbol [position="left"]{
  animation: var(--onload-animation) border-rotate-top;
  animation-fill-mode: both;
}

#symbol [position="right"]{
  animation: var(--onload-animation) border-rotate-bottom;
  animation-fill-mode: both;
} 