@font-face {  font-family: Satoshi-Bold;
  src: url('./../fonts/Satoshi-Bold.otf'); }
@font-face {  font-family: Satoshi-Light;
  src: url('./../fonts/Satoshi-Light.otf'); }
@font-face {  font-family: Satoshi-LightItalic;
  src: url('./../fonts/Satoshi-LightItalic.otf'); 
  font-style: normal;
  font-weight: 400;
}
@font-face {  font-family: Satoshi-Regular;
  src: url('./../fonts/Satoshi-Regular.otf'); }
@font-face {  font-family: Emoji;
  src: url('./../fonts/NotoEmoji-Regular.ttf');
}

:root{
  --almost-black: #212121;
  --not-white: #efe6dd;
  --grey: #21212192;
  --blue: #454EA3;
  --blue-comp: #5864D1;
  --green: #61875B;
  --green-comp: #9EDE95;
  --red: #A34546;
  --red-comp: #FA696B;
  --light-grey: #2121214e;

  --text: #e3d4b7;
  --dark: #422a6d;
  --highlighting: #f33a2a;
  --whiteish: #fffaef;
  --fade-to: #C5A7D4;

  --background-gradient: linear-gradient(45deg, var(--not-white) 65%, white);
  --moz-background-gradient: -moz-linear-gradient(45deg, var(--not-white) 65%, white);
 
  --symbol-dimension: 18px;
  --symbol-skew: -20deg;
  --symbol-rotate: 90deg;
  --symbol-translate: 17px;
  --symbol-translate-negative: calc(var(--symbol-translate) * -1);
  --border-length: 23vw;
  --border-length-negative: calc(var(--border-length) * -1);
  --border-translate-media: 1vw;
  --onload-animation: 0.9s cubic-bezier(0, 1, 1, 1) 0.65s;

  --display-padding: 1rem;
  --fs: clamp(1rem, 2.5vw, 1.25rem);
  --fs-xl: clamp(2rem, 2.5vw, 5rem);

  --animate-time: 2s;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-family: Satoshi-Light;
  font-size: var(--fs);
  color: var(--almost-black);

  background: rgb(255,250,239);
  background: linear-gradient(140deg, var(--text) 45%, var(--fade-to) 100%);

  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

img, 
.project-link-icon{
  height: 30px;
  width: 30px;
  transition: transform 1s;
}

img:hover, 
.project-link-icon:hover{
  transform: scale(1.2);
}




