.content{
  display: grid;
  height: 100%;
}

.view{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  height: 100%;

  opacity: 0;
  visibility: hidden;
	transition: all cubic-bezier(0, 1, 0.5, 1) 0.6s;
} 

.view[aria-selected="true"]{
  opacity: 1;
  visibility: visible;
}

#about-me p{ text-indent: 1em; }
#get-in-touch{ align-items: center; }
#get-in-touch div{
  display: flex;
  align-items: center;
  gap: 8px;
}

a:link{
  color: rgba(0, 0, 255, 0.71);
}

#github-icon{
  height: var(--fs-xl);
  width: var(--fs-xl);
}

@media screen and (min-width: 600px), 
                  (orientation: landscape) {
  #about-me p{ width: 80%; }
}


