@font-face {  font-family: Satoshi-Bold;
  src: url('./../fonts/Satoshi-Bold.otf'); }
@font-face {  font-family: Satoshi-Light;
  src: url('./../fonts/Satoshi-Light.otf'); }
@font-face {  font-family: Satoshi-LightItalic;
  src: url('./../fonts/Satoshi-LightItalic.otf'); }
@font-face {  font-family: Satoshi-Regular;
  src: url('./../fonts/Satoshi-Regular.otf'); }

:root{
  --almost-black: #212121;
  --not-white: #efe6dd;
  --grey: #21212192;
  --light-grey: #2121214e;
  --background-gradient: linear-gradient(45deg, var(--not-white) 65%, white);
  --moz-background-gradient: -moz-linear-gradient(45deg, var(--not-white) 65%, white);
 
  --symbol-translateY: 17px;
  --symbol-translateX: calc(var(--symbol-translateY)/2);
  --symbol-translateY-negative: calc(var(--symbol-translateY) * -1);
  --symbol-translateX-negative: calc(var(--symbol-translateX) * -1);

  --display-border: 0.7px solid var(--light-grey);
  --display-padding: 1rem;
  --fs: clamp(1rem, 2.5vw, 1.25rem);
  --fs-xl: clamp(2rem, 2.5vw, 5rem);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: Satoshi-Light;
  font-size: var(--fs);
  color: var(--almost-black);
  background: var(--background-gradient,
                  --moz-background-gradient);
  padding: 2rem;
  height: 100svh;
  width: 100vw;
}

nav{
  align-self: flex-start;
  border-bottom: var(--display-border);
  padding-bottom: var(--display-padding);
}

nav > .wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

h1{
  align-self: flex-end;
  border-top: var(--display-border);
  padding-top: var(--display-padding);
  font-size: var(--fs-xl);
}

.content,
.content main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.content main{
  position: relative;
}

#symbol{
  color: var(--almost-black);
  font-size: 20px;
  letter-spacing: -2px;
  align-self: center;
}

#symbol > * {
  position: absolute;
  top: 50%;
  left: 50%; 
}

#symbol #colon { transform: translate(-50%, -50%);}
#symbol [position="left"]{ 
  transform: translate(var(--symbol-translateX), -50%); 
}
#symbol [position="right"]{ 
  transform: translate(var(--symbol-translateY), -50%); 
}

